.date {
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
  font-weight: 300;
  letter-spacing: 2px;

}

.dot {
  display: block;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}