$image: url('../static/AmericanFlag.png');
$loaderMaxWidth: 284px;

#loader-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 4;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-1 * $loaderMaxWidth / 2, -50%);
  height: 142px;
  width: 0;
  max-width: $loaderMaxWidth;
  background-image: $image;
  background-size: $loaderMaxWidth 142px;
}

#loader-percent {
  position: absolute;
  top: calc(50% + 85px);
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  z-index: 3;
}

#context {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: white;

  .dot {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .texts {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    opacity: 0;
    width: 400px;

    &::before {
      content: '';
      display: block;
      height: 10000px;
      width: 1px;
      position: absolute;
      top: -10050px;
      left: 50%;
      transform: translateX(-50%);
      background-color: black;
    }

    p {
      font-family: 'Barlow', sans-serif;
      color: black;
      padding: 5px 0;
    }

    button {
      position: relative;
      cursor: pointer;
      background: none;
      box-shadow: none;
      border: 1px solid black;
      -webkit-appearance: none;
      padding: 7px 15px;
      color: black;
      text-transform: uppercase;
      margin-top: 110px;
      font-family: 'Oswald', sans-serif;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 2px;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &:active, &:focus {
        border: 1px solid black;
        background: none;
        box-shadow: none;
      }

      &:hover {
        background-color: black;
        color: white;
      }

      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 55px;
        position: absolute;
        top: -85px;
        left: 50%;
        transform: translateX(-50%);
        background: black;
      }
    }
  }
}