$image: url('https://i.imgur.com/yB2TNUh.png');
$loaderMaxWidth: 600px;

#loader-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darken(#2f3542, 6);
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-1 * $loaderMaxWidth / 2, -50%);
  height: 600px;
  width: 0;
  max-width: $loaderMaxWidth;
  background-image: $image;
  background-size: 600px $loaderMaxWidth;
}

#loader-percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  font-family: 'Coda';
  z-index: 3;
}

#context {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(darken(#2f3542, 6), 0.9);

  .texts {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    opacity: 0;

    p {
      color: white;
      padding: 5px 0;
    }

    button {
      cursor: pointer;
      background: none;
      box-shadow: none;
      border-radius: 10px;
      border: 1px solid white;
      -webkit-appearance: none;
      font-size: 16px;
      padding: 5px 15px;
      color: white;
      margin-top: 20px;
    }
  }
}