#timeline {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  width: 280px;
  background-color: white;
  z-index: 2;
  overflow: hidden;

  ul {
    position: relative;
    overflow: visible;
    list-style: none;
    &::before {
      content: '';
      position: absolute;
      top: -9930px;
      left: 50%;
      height: 10000px;
      width: 1px;
      background-color: black;
      transform: translateX(-50%);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -10070px;
      left: 50%;
      height: 10000px;
      width: 1px;
      background-color: #D3D3D3;
      transform: translateX(-50%);
    }
    li {
      &::before {
        @extend .dot;
        content: '';
        position: absolute;
        top: 85px;
        left: 50%;
        transform: translateX(-50%);
        padding: 3px;
        background-clip: content-box;
        background-color: #D3D3D3;
      }

      &.selected::before {
        border: 1px solid #D3D3D3;
      }

      &.visited {
        color: black;
        &::before {
          background-color: black;
        }

        &.selected::before {
          border: 1px solid black;
        }

        &::after {
          background-color: black;
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%) translateY(100%);
        height: 70px;
        width: 1px;
        background-color: #D3D3D3;
      }
      color: #D3D3D3;
      padding-top: 110px;
      display: block;
      position: relative;
      text-align: center;
      font-family: Oswald, sans-serif;
      font-size: 14px;
      letter-spacing: 1.5px;
      overflow: visible;
    }
  }
}